  .skill-matrix {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
  
  .user-skills {
    display: flex;
    /* flex-direction: column; */
    align-items: center;
    margin: 10px;
  }
  
  .skill-circle {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
    width: 200px; /* Adjust width as needed */
  }
  
  .circle {
    position: relative;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color: red;
    overflow: hidden;
    margin-top: 10px;
  }
  
  .circle-part {
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 50%;
    border-radius: 0 0 0% 0;
    transform-origin: 100% 100%;
    transition: background-color 0.3s ease;
  }

  .skill-circles {
    display: flex;
  }
  
  .rating-buttons {
    display: flex;
    margin-top: 10px;
  }
  
  .rating-buttons button {
    margin: 0 5px;
    padding: 5px 10px;
  }
  
  .remove-skill {
    margin-top: 10px;
    background-color: red;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
  }
  
  .add-skill-button {
    margin-top: 20px;
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
  }
  
  .remove-user {
    margin-top: 20px;
    background-color: red;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
  }
  
  .add-user-button {
    margin-top: 20px;
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
  }
  
  input[type="text"] {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    transition: border-color 0.3s ease;
  }
  
  input[type="text"]:focus {
    outline: none;
    border-color: #007bff;
  }
  