.skill-matrix {
    display: flex;
    /* flex-direction: column; */
    align-items: center;
    justify-content: space-around;
  }
  
  .skill-circle {
    margin-bottom: 20px;
  }
  
  .circle {
    position: relative;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: lightgray;
    overflow: hidden;
    /* margin-top: 15px; */
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  
  .circle-part {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform-origin: center;
    transition: background-color 0.3s ease;
  }
  
  .circle-part:nth-child(1) {
    clip-path: polygon(50% 50, 100% 0, 100% 100%, 50% 100%);
    background-color: red;
  }
  
  .circle-part:nth-child(2) {
    clip-path: polygon(0 0, 50% 0, 50% 100%, 0 100%);
    background-color: orange;
  }
  
  .circle-part:nth-child(3) {
    clip-path: polygon(0 0, 50% 0, 50% 100%, 0 100%);
    background-color: yellow;
  }
  
  .circle-part:nth-child(4) {
    clip-path: polygon(50% 0, 100% 50, 100% 100%, 50% 100%);
    background-color: green;
  }

  .add-skill-button {
    margin-top: 20px;
  }

  .rating-buttons {
    display: flex;
    justify-content: center;
}

  .rating-buttons button {
    margin: 0 5px;
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    
  }
  
  .rating-buttons button:hover {
    background-color: #0056b3;
  }
  
  .rating-buttons button:focus {
    outline: none;
  }
  
  .rating-buttons button:active {
    transform: translateY(2px);
  }
  
  .add-skill-button {
    margin-top: 20px;
    background-color: #28a745;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .add-skill-button:hover {
    background-color: #1f9238;
  }

  .remove-skill {
    margin-top: 20px;
    background-color: #c23718;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-left: 50px;
  }

  .remove-skill:hover {
    background-color: #db320d;
  }
  
  .add-skill-button, .remove-skill:focus {
    outline: none;
  }
  
  .add-skill-button, .remove-skill:active {
    transform: translateY(2px);
  }
  
  input[type="text"] {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    transition: border-color 0.3s ease;
  }
  
  input[type="text"]:focus {
    outline: none;
    border-color: #007bff;
  }
  